.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.card {
  width: 280px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(230,230,230);
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(230, 230,230);
}

.card img {
  height: 300px;
  width: 250px;
}

.tex-center h2 {
  font-size: 40spx;
}
